

@font-face {
    font-family: 'gg sans Normal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Normal Regular'), url('gg sans Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'gg sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Medium Regular'), url('gg sans Medium.woff') format('woff');
    }


#container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 340px;
    margin: auto;
    font-family: 'gg sans Medium Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    background-color: #EBEDEF;
    color: #4E5058;
    margin-top: 100px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 30px #3139fb;
}

.banner {
    height: 60px;
    background-color: #3139fb;
    border-radius: 8px 8px 0 0;
}

img {
    height: 80px;
    border-radius: 100%;
    border: 5px solid #EBEDEF;
    position: absolute;
    top: 16px;
    left: 16px
}

.info {
    margin: 50px 16px 16px 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.name {
    margin: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #85868a;
    font-size: 20px;
}

.text {
    padding: 12px;
    padding-top: 0px;
}

h2 {
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 0 0;
}

textarea {
    background-color: rgba(0,0,0,0);
    padding: 4px;
    font-family: 'gg sans Medium Regular';
    border: 0px;
    resize: none;
    color: #4E5058;
    width: 250px
}




	

